<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <link rel="icon" href="pngwing.com.png">
    <title>Dare el Gahwa-{{title}}</title>
</head>
<body>
    
    <nav id="navbar">
        <ul>
        <a class="logo" href="{{url_for('Admin')}}"> Dare el <strong>G</strong>ahwa</a>
        
            <li><a href="{{url_for('Home')}}">Home</a></li>
            <li><a href="{{url_for('Admin')}}">Admin</a></li>
            <li><a href="{{url_for('Add')}}">Add Item</a></li>
        </ul>
    </nav>
{%block content%}

{%endblock%}


    <footer>
        <p>&copy; 2024 Dare el Gahwa. All rights reserved.</p>
    </footer>

</body>
</html>
