{%extends 'layoutadmin.html'%}
{%block content%}

    <header>
        <h1>Profit Overview</h1>
        <p class="intro-text">Here you can see the financial performance, including sales and profits for the past months.</p>
    </header>

    <section id="profit-summary">
        <h3>Sales and Profit Summary</h3>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Sales</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>December 2024</td>
                    <td>5000d</td>
                    <td>1500d</td>
                </tr>
                <tr>
                    <td>November 2024</td>
                    <td>4800d</td>
                    <td>1450d</td>
                </tr>
            </tbody>
        </table>
    </section>


    {%endblock%}